# Copyright (c) 2025 liangyq <liangyongqincn@gmail.com>
# 
# SPDX-License-Identifier: Apache-2.0

config BOARD_SHIZHANPI_S3
	select SOC_ESP32S3_WROOM_N16R8
	select SOC_ESP32S3_PROCPU if BOARD_SHIZHANPI_S3_ESP32_S3_PROCPU
	select SOC_ESP32S3_APPCPU if BOARD_SHIZHANPI_S3_ESP32_S3_APPCPU
